.button {
  @include base-font(500);
  box-sizing: border-box;
  text-align: center;
  font-size: inherit;
  color: $background-color;
  background-color: $button-color;
  border-radius: 4px;
  border: none;

  &--light {
    color: $main-text-color;
    background-color: $background-color;
  }

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}
