.footer-nav {
  padding-top: 2px;
  padding-left: 1px;
}

.footer-nav__item {
  padding: 4px 0;
}

.footer-nav__link {
  @include base-font(500);
  display: block;
  line-height: 23px;
  color: $main-text-color;

  &--active,
  &:focus,
  &:hover {
    color: $button-color;
  }
}
