.social {
  @include base-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 102px;
  padding-top: 12px;
}

.social__link {
  position: relative;
  display: block;
  color: $main-text-color;

  &:focus,
  &:hover {
    color: $button-color;
  }
}
